<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="10">
  <meta name="robots" content="noindex, nofollow"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="Score">
  <meta name="author" content="">
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

  <title>Score</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css">
</head>

<body>

<div class="container">
    <div class="text-center col-lg-12">
    <h1>Показатели эффективности работы магазина</h1>
    </div>
    <div class="text-center screen-block panel panel-default col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1 id="main_message">Время ожидания <span class="score-color">{{ score_minutes }}</span> минут</h1>
      <style type="text/css">
        .score-color {
        color:{{ score_color }} ;
        }
      </style>
    </div>
</div><!-- /.container -->

  <div class="container">
    <div class="panel panel-default screen-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="row text-center">
        <h3>Обработано за день: <span class="all-orders">{{ count_today_orders }}</span></h3>
      </div>
      <div class="row text-center">
        <h3>Необработанных заказов: <span class="unconfirmed-orders">{{ count_today_orders }}</span></h3>
      </div>
    </div>

  </div><!-- /.container -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>
